---
import Page from '../layouts/Page.astro';
import { getEntry, render } from 'astro:content';
import { SITE_SEO_TITLE } from '../consts';

const page = await getEntry('pages', 'links');
if (!page) throw new Error('links.md not found');
const { Content } = await render(page);
---

<Page title={`${page.data.title} | ${SITE_SEO_TITLE}`} description={page.data.description}>
	<h1>{page.data.title}</h1>
	<Content />
</Page>
