---
interface Props {
  pageUrl: string;
  pageTitle: string;
}

const { pageUrl, pageTitle } = Astro.props;

const remark42Host = 'https://comments.michaelbeijer.co.uk';
const siteId = 'michaelbeijer';
---

<section class="comments-section">
  <h2>Comments</h2>
  <div id="remark42"></div>
</section>

<script is:inline define:vars={{ remark42Host, siteId, pageUrl, pageTitle }}>
  window.remark_config = {
    host: remark42Host,
    site_id: siteId,
    url: pageUrl,
    theme: 'light',
    page_title: pageTitle,
    show_email_subscription: true,
    simple_view: false,
    no_footer: false
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = remark42Host + '/web/embed.js';
    s.defer = true;
    (d.head || d.body).appendChild(s);
  })();
</script>

<style>
  .comments-section {
    margin-top: 3em;
    padding-top: 2em;
    border-top: 1px solid rgb(var(--border));
  }
  .comments-section h2 {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: rgb(var(--text));
  }
</style>
